{% extends "core/plantilla.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock css %}

{% block contenido %}
<section id="bienvenido">

    <h2>Tus Mascotas Adoptadas</h2>
    <h3>Usuario: <b>{{user.username}}</b> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt pariatur odit inventore consectetur
        quisquam minus facere excepturi atque quibusdam! Consectetur aliquid nihil possimus alias? Facilis alias
        reiciendis iure libero quidem?</p>
</section>

<div id="listado" style="margin:50px">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Categoria</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in mascotas %}
            <tr>
                <td>{{reg.nombre}}</td>
                <td>{{reg.edad}}</td>
                <td>{{reg.descripcion}}</td>
                <td>
                    <img src='{{reg.imagen.url}}' width="150px" height="150px">
                </td>
                <td>{{reg.tipo.nombre}}</td>
                <td>
                    <button class="btn btn-danger" onclick="devolver('{{reg.nombre}}')">Devolver</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="text-align: center; font-size: xx-large;">
    Cantidad de Mascotas : {{cant}}
</div>
{% endblock contenido %}

{% block js %}
<script>
    function devolver(nombre) {
        Swal.fire({
            title: 'Desea devolver la mascota ' + nombre+' ?',
            showDenyButton: true,
            confirmButtonText: `devolver`,
            denyButtonText: `Cancelar`,
        }).then((result) => {
            if (result.isConfirmed) {
                location.href='/devolver/'+nombre+'/';
            }
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

{% endblock js %}